.contact-us-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff6ea;
  width: 100vw;
  height: auto;
  font-size: 62.5%;
  font-family: "Inter";
}

.header-block {
  width: 95vw;
  display: flex;
  justify-content: space-between;
}

.header-block > h1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 73px;
  margin-top: 93px;
  margin-bottom: 82px;
}

.header-block > img {
  width: 150.47px;
  height: 117.82px;
  margin-top: 50px;
}

.contact-us-card {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-bottom: 20px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 96px;
  padding-bottom: 26px;
}

.contact-us-card > div {
  flex: 50%;
}

.small-card {
  width: 100%;
  display: flex;
  font-size: 62.5%;
  font-family: "Inter";
  margin-bottom: 58px;
}

.image-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 50%;
  background-color: #fff6ea;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-right: 4.1rem;
}

.image-container > img {
  width: 4.5rem;
}

.small-card-div > h2 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.small-card-div > div > h4 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3rem;
}

.location-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 62.5%;
  font-family: "Inter";
}

.location-card-section {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  flex-wrap: wrap;
  margin-bottom: 18.4rem;
}

.location-section > h1 {
  font-size: 6rem;
  font-weight: 600;
  margin-top: 10rem;
  margin-bottom: 8.4rem;
}

.location-card {
  flex: 50%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  max-width: 55.5rem;
  flex-direction: column;
  padding-left: 4.6rem;
  padding-top: 2.4rem;
  padding-bottom: 4.5rem;
  padding-right: 1rem;
  margin-bottom: 4rem;
}

.location-card-heading {
  margin-bottom: 1.2rem;
}

.location-card-heading > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4.5rem;
}

.location-card-heading > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 45px;
}

.location-card-bottom-sec {
  display: flex;
}

.location-card-bottom-sec > img {
  max-width: 34.1rem;
  max-height: 38.8rem;
}

.location-card-bottom-sec > div {
  line-height: 3.8rem;
  margin-left: 2.4rem;
}

.location-card-bottom-sec > div > div {
  margin-bottom: 2.4rem;
}

.location-card-bottom-sec > div > div > h3 {
  font-weight: 500;
  color: #cd060d;
  font-size: 2rem;
}
.location-card-bottom-sec > div > div > h4 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 38px;
}

@media (min-width: 340px) and (max-width: 1000px) {
  .location-card-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
